{# @workflow/includes/test_transitionlist.html.twig #}

{% block test_transitionlist %}
{# <!-- this relies on $workflow, $subjectId, $place, $transition and $trackerId if available --> #}
  {% if not config %}
    {% set config = xar_apifunc('workflow', 'user', 'getconfig') %}
  {% endif %}
  {% if workflow and config[workflow] and not trackerId and not subjectId %}
  <fieldset>
    <legend>
      Transitions
    </legend>
    {% set guarded = '(?)' %}
    {% set updated = '[+]' %}
    {% set deleted = '|x|' %}
    {# <!-- show transition - from place - to place - change status in rows --> #}
    <table style="border-collapse: separate; width: 50%">
      <tr>
        <th>Transition</th>
        <th>From Place</th>
        <th>To Place</th>
        <th>Guarded</th>
        <th>Update Property</th>
        <th>Stop Tracker</th>
      </tr>
      {% for name, info in config[workflow]['transitions'] %}
        {# <!-- @checkme state machine only supports 1 to, use 2 for status change --> #}
        {% set to = info['to'] is iterable ? info['to'][0] : info['to'] %}
        <tr>
          {% if transition and transition == name %}
            <td><strong>{{ name|replace({'_':' '})|title }}</strong></td>
          {% else %}
            <td>{{ name|replace({'_':' '})|title }}</td>
          {% endif %}
          {% if info['from'] is iterable %}
            <td>
            {% for from in info['from'] %}
              {% if place and place == from %}
               <strong>{{ from|replace({'_':' '})|title }}</strong><br/>
              {% else %}
                {{ from|replace({'_':' '})|title }}<br/>
              {% endif %}
            {% endfor %}
            </td>
          {% elseif place and place == info['from'] %}
            <td><strong>{{ info['from']|replace({'_':' '})|title }}</strong></td>
          {% else %}
            <td>{{ info['from']|replace({'_':' '})|title }}</td>
          {% endif %}
          {% if place and place == to %}
            <td><strong>{{ to|replace({'_':' '})|title }}</strong></td>
          {% else %}
            <td>{{ to|replace({'_':' '})|title }}</td>
          {% endif %}
          {% if info['admin'] or info['roles'] or info['access'] or info['property'] or info['guard'] %}
            <td>{{ guarded }}</td>
          {% else %}
            <td>&#160;</td>
          {% endif %}
        {# <!-- @checkme state machine only supports 1 to, use 2 for status change --> #}
          {% if info['to'] is iterable and info['to']|length > 1 %}
            {% if place and place == info['to'][1] %}
              <td>{{ updated }}&#160;<strong>{{ info['to'][1]|replace({'_':' '})|title }}</strong></td>
            {% else %}
              <td>{{ updated }}&#160;{{ info['to'][1]|replace({'_':' '})|title }}</td>
            {% endif %}
          {% else %}
            <td></td>
          {% endif %}
          {% if info['delete'] %}
            <td>{{ deleted }}</td>
          {% else %}
            <td>&#160;</td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
    {# <!-- show from place - to place 1 - to place 2 - ... with transitions in cells --> #}
    {% set fromto = [] %}
    {% for where in config[workflow]['places'] %}
      {% set fromto = fromto|merge({(where): {'_dummy_': false}}) %}
    {% endfor %}
    {% for name, info in config[workflow]['transitions'] %}
      {# <!-- @checkme state machine only supports 1 to, use 2 for status change --> #}
      {% set to = info['to'] is iterable ? info['to'][0] : info['to'] %}
      {% if info['from'] is iterable %}
        {% for from in info['from'] %}
          {% set value = name %}
          {% if info['admin'] or info['roles'] or info['access'] or info['property'] or info['guard'] %}
            {% set value = guarded ~ ' ' ~ value %}
          {% endif %}
          {% if info['update'] or info['completed'] or (info['to'] is iterable and info['to']|length > 1) %}
            {% set value = value ~ ' ' ~ updated %}
          {% endif %}
          {% if info['delete'] %}
            {% set value = value ~ ' ' ~ deleted %}
          {% endif %}
          {% set fromto = fromto|merge({(from): fromto[from]|merge({(to): value}) }) %}
        {% endfor %}
      {% else %}
        {% set value = name %}
        {% if info['admin'] or info['roles'] or info['access'] or info['property'] or info['guard'] %}
          {% set value = guarded ~ ' ' ~ value %}
        {% endif %}
        {% if info['update'] or info['completed'] or (info['to'] is iterable and info['to']|length > 1) %}
          {% set value = value ~ ' ' ~ updated %}
        {% endif %}
        {% if info['delete'] %}
          {% set value = value ~ ' ' ~ deleted %}
        {% endif %}
      {% endif %}
      {% set fromto = fromto|merge({(info['from']): fromto[info['from']]|merge({(to): value}) }) %}
    {% endfor %}
    <table style="border-collapse: separate; width: 50%">
      <tr>
        <th>From Place</th>
        <th colspan="{{ config[workflow]['places']|length }}">{{- xar_image({scope: "theme", file: "icons/go-next.png", class: "xar-icon", alt: "go-next"}) -}}&#160;Available Transitions From Place To Place&#160;{{- xar_image({scope: "theme", file: "icons/go-jump.png", class: "xar-icon", alt: "go-jump"}) -}}</th>
      </tr>
      {% for from in config[workflow]['places'] %}
        <tr>
          {% if place and place == from %}
            <td><strong>{{ from|replace({'_':' '})|title }}</strong></td>
          {% else %}
            <td>{{ from|replace({'_':' '})|title }}</td>
          {% endif %}
          {% for to in config[workflow]['places'] %}
            {% if from == to %}
              <td>-</td>
            {% elseif fromto[from][to] %}
              {% if transition and transition in fromto[from][to] %}
                <td><strong>{{ fromto[from][to]|replace({'_':' '})|title }}</strong></td>
              {% else %}
                <td>{{ fromto[from][to]|replace({'_':' '})|title }}</td>
              {% endif %}
            {% else %}
              <td>&#160;</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
      <tr>
        <th>&#160;&#160;&#160;To Place</th>
        {% for to in config[workflow]['places'] %}
          {% if place and place == to %}
            <th><strong>{{ to|replace({'_':' '})|title }}</strong></th>
          {% else %}
            <th>{{ to|replace({'_':' '})|title }}</th>
          {% endif %}
        {% endfor %}
      </tr>
    </table>
    <span>{{ guarded }} Guarded&#160;&#160;&#160;{{ updated }} Update Property&#160;&#160;&#160;{{ deleted }} Stop Tracker</span>
  </fieldset>
  {% endif %}
{% endblock %}