{# @workflow/includes/test_trackerlist.html.twig #}

{% block test_trackerlist %}
{# <!-- this relies on $workflow, $subjectId, $userId, $place and $trackerId if available --> #}
  {% if not config %}
    {% set config = xar_apifunc('workflow', 'user', 'getconfig') %}
  {% endif %}
  {% if not tracker %}
    {% set tracker = xar_apifunc('workflow', 'user', 'tracker') %}
  {% endif %}
  {% set paging = {'limit': 10, 'count': false, 'offset': 0, 'order': null} %}
  {% set dummy = tracker.setPaging(paging) %}
  {# <!-- @todo decide whether to show items for all users or only the current one --> #}
  {% if trackerId %}
    {% set item = tracker.getTrackerItem(trackerId) %}
    {% set items = item ?  [ item ] : [] %}
  {% elseif subjectId %}
    {% if not place %}
      {% set items = tracker.getSubjectItems(subjectId, workflow, userId) %}
    {% else %}
      {% set pieces = tracker.fromSubjectId(subjectId) %}
      {% set items = tracker.getItems(workflow, pieces[0], pieces[1], place, userId) %}
    {% endif %}
  {% elseif place %}
    {% set items = tracker.getItems(workflow, '', 0, place, userId) %}
  {% elseif workflow %}
    {% set items = tracker.getWorkflowItems(workflow, userId) %}
  {% elseif items %}
    {% set workflow = 'cd_loans' %}
  {% else %}
    {% set workflow = 'cd_loans' %}
    {% set items = [] %}
  {% endif %}
  {% if not handlers %}
    {% set handlers = xar_apifunc('workflow', 'user', 'handlers') %}
  {% endif %}
  {% set fromlist = [] %}
  {% for where in config[workflow]['places'] %}
    {% set fromlist = fromlist|merge({(where): {'_dummy_': false}}) %}
  {% endfor %}
  {% for name, info in config[workflow]['transitions'] %}
    {# <!-- check for access based on config here --> #}
    {% set enabled = true %}
    {% if info['admin'] %}
      {% if not handlers.doCheckAdmin(info['admin'], userId) %}
        {% set enabled = false %}
      {% endif %}
    {% endif %}
    {% if info['roles'] %}
      {% if not handlers.doCheckRoles(info['roles'], userId) %}
        {% set enabled = false %}
      {% endif %}
    {% endif %}
    {% if info['access'] and subjectId %}
      {% set pieces = handlers.fromSubjectId(subjectId) %}
      {% if objectref %}
        {% set object = objectref %}
      {% else %}
        {% set object = pieces[0] %}
      {% endif %}
      {% if not handlers.doCheckAccess(object, pieces[1], info['access'], userId) %}
        {% set enabled = false %}
      {% endif %}
    {% endif %}
    {# <!-- this needs to be checked for each DataObject item, not overall
    {% if info['property'] and subjectId %}
      {% set pieces = handlers.fromSubjectId(subjectId) %}
      {% if objectref %}
        {% set object = objectref %}
      {% else %}
        {% set object = pieces[0] %}
      {% endif %}
      {% if not handlers.doCheckProperty(object, pieces[1], info['property']) %}
        {% set enabled = false %}
      {% endif %}
    {% endif %}
    --> #}
    {% set from = info['from'] is iterable ? info['from'] : [ info['from'] ] %}
    {% for where in from %}
      {% set fromlist = fromlist|merge({(where): fromlist[where]|merge({(name): enabled}) }) %}
    {% endfor %}
  {% endfor %}
  <fieldset>
    <legend>
      Active subjects for this workflow
    </legend>
    <table style="border-collapse: separate;">
      <tr>
        <th>Tracker Id</th>
        <th>Subject Id</th>
        <th>User Name</th>
        <th>Current Place</th>
        <th>Last Updated</th>
        <th>Transitions</th>
      </tr>
      {% for item in items %}
        {% set displaylink = xar_objecturl(item['object'], 'display', {'itemid': item['item']}) %}
        {% set infolink = xar_objecturl('workflow_tracker', 'display', {'itemid': item['id']}) %}
        {% set currentId = tracker.toSubjectId(item['object'], item['item']) %}
        {% set params = {'workflow': workflow, 'subjectId': currentId} %}
        {% set filterlink = xar_moduleurl('workflow', 'user', 'test', params) %}
        {% set subjectlink = xar_moduleurl('workflow', 'user', 'test_run', params) %}
        {% set params = params + {'trackerId': item['id']} %}
        {% set trackerlink = xar_moduleurl('workflow', 'user', 'test', params) %}
        {% set actionlink = xar_moduleurl('workflow', 'user', 'test_run', params) %}
        <tr>
          <td>
            <a href="{{ infolink }}" title="Info Tracker ({{ item['id'] }}) {{ currentId }}">
              {{- xar_image({scope: "theme", file: "icons/info.png", class: "xar-icon", alt: "info"}) -}}
            </a>&#160;
            <a href="{{ actionlink }}" title="Actions Tracker ({{ item['id'] }}) {{ currentId }}">
              {{- xar_image({scope: "theme", file: "icons/go-next.png", class: "xar-icon", alt: "go-next"}) -}}
            </a>&#160;
            {% if trackerId and trackerId == item['id'] %}
              <strong>{{ item['id'] }}</strong>
            {% else %}
              <a href="{{ trackerlink }}" title="Filter Tracker ({{ item['id'] }})">{{ item['id'] }}</a>
            {% endif %}
          </td>
          <td>
            <a href="{{ displaylink }}" title="Display Subject {{ currentId }}">
              {{- xar_image({scope: "theme", file: "icons/display.png", class: "xar-icon", alt: "display"}) -}}
            </a>&#160;
            <a href="{{ subjectlink }}" title="Actions Subject {{ currentId }}">
              {{- xar_image({scope: "theme", file: "icons/go-next.png", class: "xar-icon", alt: "go-next"}) -}}
            </a>&#160;
            {% if subjectId and subjectId == currentId %}
              <strong><a href="{{ filterlink }}" title="Filter Subject {{ currentId }}">{{ currentId }}</a></strong>
            {% else %}
              <a href="{{ filterlink }}" title="Filter Subject {{ currentId }}">{{ currentId }}</a>
            {% endif %}
          </td>
          <td>{{ xar_username(item['user']) }}</td>
          <td>
            {% set places = item['marking']|split(constant('AND_OPERATOR', tracker)) %}
            {% for here in places %}
              {% if place and place == here %}
                <strong>{{ here|replace({'_':' '})|title }}</strong>&#160;
              {% else %}
                {{ here|replace({'_':' '})|title }}&#160;
              {% endif %}
            {% endfor %}
          </td>
          {# <!-- you can choose how to display the date and time here, e.g. show
             the time for the last 12 hours and the date for anything older --> #}
          {% if item['updated'] > date().getTimestamp() - 12*60*60 %}
            <td>{{ xar_localedate(item['updated'], '', 'short') }}</td>
          {% else %}
            <td>{{ xar_localedate(item['updated'], 'medium', '') }}</td>
          {% endif %}
          <td>
          {% if fromlist[item['marking']] %}
            {% for name, enabled in fromlist[item['marking']] %}
              {% set label = name|replace({'_':' '})|title %}
              {% if name == '_dummy_' %}
              {% elseif enabled %}
                {% set runlink = xar_moduleurl('workflow', 'user', 'test_run', params + {'transition': name}) %}
                {{- xar_button({type: "link", name: name, target: runlink, label: label}) -}}&#160;
              {% else %}
                {{- xar_button({type: "link", name: name, label: label, disabled: "disabled"}) -}}&#160;
              {% endif %}
            {% endfor %}
          {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    {# <!-- Count: {{ tracker.getCount() }} --> #}
  </fieldset>
{% endblock %}