{# @workflow/includes/transitionlist.html.twig #}

{% block transitionlist %}
<div>
        <fieldset>
          <legend>Process Transitions</legend>

          {# <!-- Filter form --> #}
          <form action="{{ xar_moduleurl('workflow','admin','activities') }}" method="post" id='filtran'>
            <input type="hidden" name="pid" value="{{ pid }}"/>
            <input type="hidden" name="activityId" value="{{ activityId }}"/>
            <input type="hidden" name="find" value="{{ find }}"/>
            <input type="hidden" name="where" value="{{ where }}"/>
            <div class="xar-form-input-wrapper">
              <label class="xar-form-label">From:</label>
              <select name="filter_tran_name" onchange="javascript:document.getElementById('filtran').submit();">
                {% if filter_tran_name == '' %}
                  <option value="" selected="selected">All</option>
                  {% else %}
                  <option value="">All</option>
                {% endif %}
                {% for ix in items|keys %}
                  {% if filter_tran_name == items[ix]['activityId'] %}
                    <option value="{{ items[ix]['activityId'] }}" selected="selected">{{ items[ix]['name'] }}</option>
                    {% else %}
                    <option value="{{ items[ix]['activityId'] }}">{{ items[ix]['name'] }}</option>
                  {% endif %}
                {% endfor %}
              </select>
              <input type="submit" name="filter_tran" value="{{ xar_translate('Filter') }}"/>
            </div>
          </form>
          {# <!-- End filter form --> #}

          <form action="{{ xar_moduleurl('workflow','admin','activities') }}" method="post">
            <input type="hidden" name="pid" value="{{ pid }}"/>
            <input type="hidden" name="activityId" value="{{ activityId }}"/>
            <input type="hidden" name="find" value="{{ find }}"/>
            <input type="hidden" name="where" value="{{ where }}"/>
            <input type="hidden" name="sort_mode" value="{{ sort_mode }}"/>

            {# <!-- Little trick to get the base link into a variable, save some typing ahead --> #}
            {% set params = {'pid': pid, 'find': find, 'where': where} %}
            {% set baselink = xar_moduleurl('workflow','admin','activities',params) %}

            <table style="border-collapse: separate; width: 99%">
              <tr>
                <th>
                  {# <!--
                  {% if sort_mode == 'actFromName_desc' %}
                    <a href="{{ baselink }}&amp;sort_mode=actFromName_asc">Origin</a>
                  {% else %}
                    <a href="{{ baselink }}&amp;sort_mode=actFromName_desc">Origin</a>
                  {% endif %}
                  --> #}
                  From
                </th>
                <th>&#160;</th>
                <th>
                  {# <!--
                  {% if sort_mode == 'actToName_desc' %}
                    <a href="{{ baselink }}&amp;sort_mode=actToName_asc">To</a>
                  {% else %}
                    <a href="{{ baselink }}&amp;sort_mode=actToName_desc">To</a>
                  {% endif %}
                  --> #}
                  To
                </th>
              </tr>
              {% if transitions and transitions|length > 0 %}
                {% for ix in transitions|keys %}
                  {% set rowclass = 'xar-norm' %}
                  {% if ix % 2 %}
                    {% set rowclass = 'xar-alt' %}
                  {% endif %}

                  <tr class="{{ rowclass }}">
                    <td>
                      <input type="checkbox" name="transition[{{ transitions[ix]['actFromId'] }}_{{ transitions[ix]['actToId'] }}]"/>&#160;
                      <a href="{{ baselink }}&amp;activityId={{ transitions[ix]['actFromId'] }}">{{ transitions[ix]['actFromName'] }}</a>
                    </td>
                    <td>
                      <img src="{{ xar_imageurl('../lib/galaxia/img/icons/next.gif','module','workflow') }}" alt="to" />
                    </td>
                    <td>
                      <a href="{{ baselink }}&amp;activityId={{ transitions[ix]['actToId'] }}">{{ transitions[ix]['actToName'] }}</a>
                    </td>
                  </tr>
                {% endfor %}
                <tr>
                  <td>
                    <select name="actFromId">
                      {% for ix in items|keys %}
                        <option value="{{ items[ix]['activityId'] }}">{{ items[ix]['name'] }}</option>
                      {% endfor %}
                    </select>
                  </td>
                  <td>
                    <img src="{{ xar_imageurl('../lib/galaxia/img/icons/next.gif','module','workflow') }}" alt="to" />
                  </td>
                  <td>
                    <select name="actToId">
                      {% for ix in items|keys %}
                        <option value="{{ items[ix]['activityId'] }}">{{ items[ix]['name'] }}</option>
                      {% endfor %}
                    </select>
                    <input type="submit" name="add_trans" value="{{ xar_translate('Add transition') }}"/>
                  </td>
                </tr>
              {% else %}
                <tr><td colspan="3">No transitions defined yet</td></tr>
              {% endif %}
            </table>
          <div class="xar-form-input-wrapper-after">
              {% set label = 'Delete selected' %}
              {{- xar_button({type: "submit", name: "delete_tran", label: label}) -}}
          </div>
          </form>
        </fieldset>
    </div>
{% endblock %}