{# @workflow/test.html.twig #}

{% extends '@workflow/base.html.twig' %}

{% block modulespace %}
<div class="xar-mod-head">
    <span class="xar-mod-title">
      Workflow Module
    </span>
  </div>
  <div class="xar-mod-body">
    {{ include('@workflow/includes/user_bar.html.twig') }}
    <div style="margin: auto;">
      <h3>Workflow Test</h3>
      {% if warning %}
        <p><strong>Requirement:</strong>{{ warning }}</p>
      {% endif %}
      {% if message %}
        <fieldset>
          <legend>
            Message
          </legend>
          <p>{{ message }}</p>
        </fieldset>
      {% endif %}
      {{ include('@workflow/includes/test_workflowlist.html.twig') }}
      {% if workflow %}
        {{ include('@workflow/includes/test_trackerlist.html.twig') }}
      {% endif %}
      {% if trackerId or subjectId %}
        {{ include('@workflow/includes/test_historylist.html.twig') }}
      {% endif %}
      {% if workflow or subjectId %}
        {{ include('@workflow/includes/test_queuelist.html.twig') }}
      {% endif %}
      {% if workflow %}
        {{ include('@workflow/includes/test_imagemap.html.twig') }}
        {# <!--
        {{ include('@workflow/includes/test_transitionlist.html.twig') }}
        --> #}
      {% endif %}
      {{ include('@workflow/includes/test_footer.html.twig') }}
    </div>
  </div>
{% endblock %}